html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.form-group{
  text-align: center;
  padding: 10px;
  padding-right: 10px;

}

.form-control{
  font-style: italic;
  padding-right: 10px;
}
.button{
  align-items: center;
}
.page-title{
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

  
.button-des{
  margin-left:auto;
  margin-right:auto;
  display:block;
  margin: top 10px;;
  margin-bottom:0%
  
}
p{
  color: red;
}
